:root {
  /* Margins and padding */
  --pd-unit: 4px;
  --pd-1x: calc(var(--pd-unit) * 1);
  --pd-2x: calc(var(--pd-unit) * 2);
  --pd-3x: calc(var(--pd-unit) * 3);
  --pd-4x: calc(var(--pd-unit) * 4);
  --mg-unit: 4px;
  --mg-1x: calc(var(--pd-unit) * 1);
  --mg-2x: calc(var(--pd-unit) * 2);
  --mg-3x: calc(var(--pd-unit) * 3);
  --mg-4x: calc(var(--pd-unit) * 4);

  /* Colors */
  --bg-clr: #feca57;
  --form-bg: #cccccc;
  --cell-bg: #446084;
  --cell-border: #1b2a3d;
  --font-heading-color: hsl(65, 46%, 95%);
  --font-color: hsl(0, 0%, 15%);
  --btn-action: hsl(120, 26%, 35%);
  --btn-danger: hsl(0, 43%, 48%);
  --darkBlue: #123e54;
  --mediumBlue: #79bfe2;
  --lightBlue: #cde7f4;
  --lightOrange: #fad189;
  --mediumOrange: #f08700;
  --darkOrange: #522e00;

  /* text/font classes */
  --text-sm: 12px;
  --text-imp: 14px;
  --text-heading: 16px;
  --font-wt: 400;
  --font-heading-wt: 600;
  /* Font Family  */
  --text-font: 'Montserrat';
  --header-font: 'Oswald';
  /* Input values */
  --text-input-padding: var(--pd-2x);
  --text-input-size: var(--text-imp);

  /* Border */
  --border_radius: 5px;
}

* {
  box-sizing: border-box;
  color: var(--font-color);
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
}

/* Main content container */
.container {
  /* background-color: var(--bg-clr); */
  display: grid;
  /* margin: 0.3rem auto; */
  text-align: center;
  padding: var(--pd-2x);
  width: 100%;
}

/* Bid Form*/
.bid-form {
  /* background-color: var(--mediumBlue);
  */
  border-radius: 51px;
  background: var(--mediumBlue);
  box-shadow: inset 6px -6px 26px #69a6c5, inset -6px 6px 26px #89d8ff;
  border-radius: 10px;
  display: table;
  padding: var(--pd-2x);
  margin: auto;
  /* border: 2px solid var(--mediumOrange); */
}
legend {
  color: var(--darkOrange);
  font-weight: bolder;
}
fieldset {
  font-weight: bold;
  margin: 1rem auto;
  padding: 0.3rem;
}
h1 {
  padding: 0.1em;
  width: 100%;
  /* margin: 0 auto; */
}
h1,
h2 {
  background-color: var(--lightBlue);
  border: solid 1px var(--cell-border);
  border-radius: var(--border_radius);
  color: var(--darkOrange);
  font-family: var(--header-font);
  margin-bottom: 1.2rem;
  /* margin-bottom: var(--mg-2x); */
}
h2 {
  font-size: 1.7rem;
}
.form-table {
  display: table-row;
}

label,
input {
  border-radius: var(--border_radius);
  display: table-cell;
  padding: 0.3em;
  width: 100%;
}

input {
  background-color: var(--lightOrange);
  margin-bottom: var(--mg-2x);
  padding: var(--pd-1x);
}
.add-row {
  background: none;
}
button {
  /* background-color: var(--lightBlue); */
  background-clip: padding-box;
  /* border: 2px solid var(--darkBlue); */
  border-radius: 51px;
  background: #123e54;
  box-shadow: inset 6px -6px 26px #103649, inset -6px 6px 26px #14465f;
  color: var(--lightOrange);
  padding: 0.2em;
  font-size: var(--text-imp);
  width: 100%;
  overflow: hidden;
}
.goods-sold_btn {
  width: 100%;
  /* border-radius: 5%; */
  margin-top: 0.5rem;
}

#overhead {
  margin-top: 1.2rem;
}

.collapsible {
  position: relative;
  padding: 2px;
  text-align: center;
  width: 100%;
}
.totals-btn {
  margin: 2rem auto;
}
.collapsible:after {
  position: absolute;
  top: 0;
  right: 100px;
  /* content: "\02795"; */
  font-size: 13px;
  /* color: #eee; */
  margin-left: 5px;
}

.collapsible-content {
  /* padding: 0 1.1px; */
  display: block;
  overflow: hidden;
  /* transition: max-height 0.3s ease-out; */
}
.collapsible > .collapsible-content {
  /* display: none; */
}
.form-send_btn {
  display: block;
  margin-top: 1rem;
  /* width: 100%; */
}
